@media (min-width: 35em) {
 /*GALLERY*/
    .gallery {
        width: 350px;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}