@media (min-width: 48em) {

/*NAVIGATION*/
nav{
    width: 100%;
}
.navbar button {
    display: none;
  }
 .primaryNav {
    flex-direction: row;
  }
 .navbar {
    font-size: 1.6em;
  }
nav ul.hide {
    display: flex;
  }
.link {
    border: none;
  }


  
}