@media (min-width:640px) {

/*NAVIGATION*/
.navbar button {
  font-size: 1.3rem;
}
nav li {
  font-size: 1.2rem;
}
nav {
  margin-top: 20px;
}
/*MAIN*/
main {
  width: 100%;
}
main h2 {
  margin-top: 20px;
  font-size: 28px;
  padding: 10px 0;
}

section#intro {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  margin-top: 1%;
}
div.booking {
  display: flex;
  justify-content: normal;
 
}
img.hotel {
  height: 450px;
  align-self: flex-start;
  object-fit: cover;
}

section#intro p {
  padding: 2% 4% 4% 4%;
}

section#intro h1,
section#feature h1 {
  margin-top: 3%;
}


section#intro ul li {
  font-size: 1rem;
  font-family: Roboto, serif ;
  line-height: 1.3em;
}

section#feature {
  display: grid;
  height: auto;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}
img.feature {
  max-width: 100%;
  align-self: flex-start;
  object-fit: cover;
}

div.templeInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
section#feature h2 {
  font-size: 1rem;
  margin: 0 5% 1% 5%;
  font-family: Roboto, serif ;
}
div#col {
  margin: 2% 4% 0 5%;
  column-count: 2;
  column-gap: 50px;

}
h2#templeName {
  text-align: center;
  width: 85%;
}
div#col h2 {
  margin: 0 5% 1% 1%;
}
section#feature ul li {
  font-size: 1rem;
  font-family: Roboto, serif ;
  line-height: 1.3em;
}
section#feature p {
  padding: 0 4% 2% 4%;
  line-height: 1.3em;

}

button#serviceBtn {
  margin: 2% 0 7% 35%;
}
.contact {
  width: 100%;
  text-align: center;
}
.contact p {
  font-size: 0.8em;
}
#socialMedia img {
  width: 30px;
}

/*FOOTER*/

footer div.footerinfo p {
  font-size: 1rem;
  text-align: center;
}


div.weather {
  font-size: 0.9em;
  width: 100%;
}
}