html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

 
  /*HEADER*/
  
  header {
    width: 100%;
    background-color: #4694A6;
    color: #ffffff;
    }

  .head {
    display: flex;
    align-items: center;
  }
  
    
  .logo img{
    margin: 15px;
    margin-left: 20px;
    width:50px;
    height: 90px;

    }
     
  .headings {
    align-self: auto;
    margin:15px;
  }

   
  header h1 {
    font-family: Pacifico, 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 4vw;
  }
  
  .motto {
    font-family: Roboto, serif ;
    padding-bottom: 10px;
    color: #000000;
    font-size: 2vw;
    line-height: 1.3;
    }

  .data{
    color: #ffffff;
    font-size: 2vw;
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 15px;
    right: 100px;
  } 
  /*NAVIGATION*/
  .headerNav {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    margin-top: 10px;
    background-color: #4694A6;
    border-top: #e7aa97 solid 3px;
    margin-right: 0;
    padding: 0;
    text-align: center;
  }
  .primaryNav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  ul.primaryNav li {
    display: block;
    list-style-type: none;
    text-transform: uppercase;
  }
  ul.primaryNav li a.link {
    display: flex;
    text-align: center;
  
    text-decoration: none;
    color: #000000;
    display: block;
    transition: 0.3s background-color;
    padding: 0 0.5em;
  }
  .navbar button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #626262;
    padding: 1% 0;
  }
  .navbar button:focus {
    outline: none;
    
  }
  nav li {
    display: block;
    line-height: 44px;
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
    list-style-type: none;
  }
  
  .primaryNav a.link:hover {
    background: #e7aa97;
    color: #000000;
  }
  
  nav li.active {
    background: #faefe9;
    color: #000000;
    cursor: default;
  }
  nav ul.hide {
    display: none;
  }
  
  nav ul li.parent ul.child {
    display: none;
  }
  nav ul li.parent:hover ul.child {
    display: block;
    background: #4694A6;
    width: 100%;  
    text-align: left;
  }
  nav ul li.parent ul.child li {
    padding: 0;
  }
  nav ul li.parent ul.child li:hover {
    background: #e7aa97;
    color: #0f0f0f;
    width: 100%;
  }
  nav ul li.parent ul.child li a {
    text-decoration: none;
    display: block;
  }  
 
  .content{
    text-align: left;
  }

  /*MAIN*/
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main h1 {
    color: #626262;
    font-size: 1.3rem;
    text-align: center;
  }
  
   main img.hero {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  section#intro {
    background-color: #faefe9;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  img.hotel {
    width: 100%;
    margin: 0 auto;
  }
  section#intro h1 {
    background-color: #e7aa97;
    width: 100%;
    padding: 0.5em 0;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    font-family: Pacifico, 'Times New Roman', Times, serif;
  }
  section#intro p {
    padding: 2% 4% 4% 4%;
  }

  button#bookNow {
    padding: 0.4rem;
    background-color: #4694A6;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 45px;
    box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
       
}
 
  section#feature {
    background-color: #faefe9;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }
  img.feature {
    width: 100%;
    margin: 0 auto;
  }
  section#feature h1 {
    background-color: #e7aa97;
    width: 100%;
    padding: 0.5em 0;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    font-family: Pacifico, 'Times New Roman', Times, serif;
  }
  section#feature h2 {
    font-size: 1rem;
    margin: 0 5% 1% 5%;
    font-family: Roboto, serif ;
  }
  section#feature h2#templeName {
    text-align: center;
    padding-top: 2%;
  }
  div#col {
    margin: 4% 4% 0 5%;
    column-count: 2;
    column-gap: 20px;
    
  }
  div#col h2 {
    margin: 0 5% 1% 0;
  }
  section#feature ul li {
    font-size: 0.8rem;
    font-family: Roboto, serif ;
    list-style-type: none;
    line-height: 1.3em;
  }
  section#feature p {
    padding: 1% 4% 4% 4%;
    line-height: 1.3em;
    font-family: Roboto, serif ;
  }
  
  /*CONTACT*/
  section#contactInformation {
    background-color: #e7aa97;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 7%;
    text-align: center;
  }
  #contactInformation div.contact h3 {
    padding-bottom: 1%;
    padding-top: 5%;
    font-size: 1.1rem;
  }
  #contactInformation div.contact li {
    font-size: 1rem;
    line-height: 1.3rem;
    list-style-type: none;
  }

  div#socialMedia {
    padding-top: 10px;
    text-align: center;
  }
  #socialMedia img {
    width: 25px;
    margin: 5px;
  }

  div.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
  }
  div.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 200px;
    width: 300px;
    margin-top: 5%;
    text-align: center;
  }
  
  div.mapouter {
    position: relative;
    height: 200px;
    width: 300px;
    font-size: 0.8em;
  }

  /*FOOTER*/

  div.footerinfo {
    background-color: #4694A6;
    color: #ffffff;
    text-align: center;
    padding: 2%;
    width: 100%;
  }
  footer div.footerinfo p {
    text-align: center;
    margin-top: 0;
    font-size: 0.7rem;
  }
  div.footerinfo a {
    color: #0f0338;
  }
 
  /*RESERVATION*/
  div.formContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .formContainer div.form form {
    background-color: #fff;
    padding: 5% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formContainer div.form fieldset {
    border: none;
    border-top: 1px solid #626262;
    margin-top: 10%;
  }
  .formContainer div.form fieldset legend {
    padding: 0 3%;
  }
  .formContainer div.form form {
    text-align: center;
    align-self: center;
  }
  
  .formContainer div.form h2 {
    font-size: 2em;
    color: #000000;
    opacity: 0.6;
    font-family: Pacifico, 'Times New Roman', Times, serif;    
  }

  form legend {
    text-align: left;
    margin-left: 2%;
  }
  
  form label.top,
  form div {
    display: block;
    padding-top: 1rem;
    color: #626262;
    font-size: 0.9rem;
    text-align: left;
  }
  form label.top input,
  form label.top select {
    -webkit-appearance: none; 
    display: block;
    font-size: 1rem;
    border: solid 1px #000000;
    border-radius: 4px;
    padding: 0.75rem; 
    color: #626262;
    width: 100%;
    max-width: 20rem; 
    background-color: ffffff;
  }
  
  form label.sbs {
    display: block;
    padding: 0.75rem 0; 
    color: #626262;
    text-align: left;
  }
  
  form label.comments {
    display: block;
    text-align: left;
    border-radius: 10px;
  }
  form textarea {
    -webkit-appearance: none; 
    display: block;
    font-size: 1rem;
    border: solid 1px #000000;
    border-radius: 4px;
    padding: 0.75rem; 
    color: #626262;
    width: 100%;
    max-width: 20rem; 
  }
  
  form input.submitBtn {
    border: 1px solid #000000;
    background-color: #4694A6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000000;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    margin: 2rem 0 2rem 0;
    width: 95%;
    max-width: 20rem; 
    font-size: 1.1rem;
  }
  form input.submitBtn:hover {
    background-color: #e7aa97;
    cursor: pointer;
  }
  form label.top input:required {
    border-left: #4694A6 solid 6px;
  }
  form label.top input:required:valid {
    border-left: #e7aa97 solid 6px;
  }

  main div.thanks {
    padding: 5%;
    background-color: #faefe9;
  }
  div.thanks h2 {
    font-size: 1.2rem;
  }
  div.thanks p {
    margin: 20px 0 40px 0;
    font-size: 1rem;
    line-height: 1.5em;
  }