html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    user-select: none;
  }
  
  /*HEADER*/
  
  header {
    width: 100%;
    background-color: #4694A6;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  header img {
    display: flex;
    flex-direction: row;
    width: 50px;
}
  .navigation {
    display: flex;
    flex-direction: column;
  }
  
  .headings {
    align-self: auto;
  }
   
  header h1 {
    font-family: Roboto, serif ;
    margin: 0;
    font-size: 55px;
  }
  header h2 {
    font-family: Pacifico, 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 45px;
  }
  
  .wrapper {
    text-align: center;
  }
  