
  /*HEADER*/
  
  header {
    width: 100%;
    background-color: #4694A6;
    color: #ffffff;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
  }

  .logo {
    display: flex;
    flex-direction: row;
    width: 75%;
}
    
  .headings {
    align-self: auto;
  }
   
  header h1 {
    font-family: Pacifico, 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 4vw;
  }
  header h2 {
    font-family: Roboto, serif ;
    margin: 0;
    font-size: 3vw;
  }
  
  .motto {
    font-family: Pacifico, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 2vw;
  }

  .data{
    color: #000;
    size: 4rem;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
  }
  
  /*NAVIGATION*/

  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    margin-top: 10px;
    background-color: #4694A6;
    border-top: #e7aa97 solid 3px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .navigation li:first-child {
    display: block;
  }

  .navigation li {
    display: none;
  }
  
  .link {
    text-decoration: none;
    color: #e9e9e9;
    display: block;
    transition: 0.3s background-color;
    padding: 0 0.5em;
  }
  .navigation button {
    margin: 0.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: #ffffff;
    padding: 1% 0;
  }

  nav li {
    line-height: 44px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    list-style-type: none;
  }
  
  .link:hover {
    background: #e7aa97;
    color: #000000;
  }
  
  nav li.active {
    background: #faefe9;
    color: #000000;
    cursor: default;
  }

  .responsive li {
    display: block;
  }

  /*MAIN*/
  main {
    display: inline-block;
    position: relative;
    }

  .current img {
    width: 100%;
  }
  
  .bookinginfo {
    text-align: left;
    margin: 2rem auto;
    background-color: #faefe9;
    padding: 15px 20px;
    width: 100%;
  }
  .bookinginfo h3 {
    font-size: 1.3rem;
    text-align: left;
    margin-top: 0;
    color: #000000
  }
  
  .bookinginfo p {
    font-family: Roboto, serif;
    margin-top: 15px;
    line-height: 1.3em;
    font-size: 0.9rem;
    color: #000000
  }
  
  .bookinginfo button {
    margin-top: 1%;
    background-color: #e7aa97;
    padding: 2px 5px;
    color: #000000;
    font-size: 0.9rem;
  }
  .bookinginfo img {
    width: 100%;
    margin: 10px auto;
    box-shadow: 0 0 5px #000;
    border-radius: 3px;
  }

  .templesum {
    text-align: left;
    margin: 2rem auto;
    background-color: #faefe9;
    padding: 15px 20px;
    width: 100%;
  }
  .templesum img {
    width: 100%;
    margin: 10px auto;
    box-shadow: 0 0 5px #000;
    border-radius: 3px;
  }

  .templesum h3{
    font-family: Pacifico, 'Times New Roman', Times, serif;
    text-align: left;
    font-size: 2.5vw;
    color: #000000;
  }

    .templesum h4 {
      line-height: .02;
      margin-bottom: 0px;
      color: #000000;
  }
  
  .templesum p {
      text-align: left;
      color: #000000;
      line-height: 1;
  }
  
  .inform {
    position: absolute;
    top: -15px;
    right: 5px;
    background: #4694A6;
    border: 1px solid #000000;
    padding: 1rem;
    box-shadow: 0 0 30px #000000;