@media (min-width: 37.5em) {

 /*GALLERY*/
 .gallerypic {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

}

/*HOME PAGE*/

aside article {
   width: 30%;
   margin-bottom: 10px;
   
}

aside {
   display: flex;
   justify-content: space-between;
}

}